html,body {
  background-color: #eee;
}
.cart-layout {
  width: 100%;
  height: 1200px;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
.cart-layout .cart-header {
   height: 40px;
   width: 100%;
   background-color: skyblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px 0 10px;
   /* 线性渐变 */
   background: -webkit-linear-gradient(right, orange,blue);
}
.cart-header .back {
  width: 20px;
  height: 20px;
  background-image: url('../images/jd-sprites.png');
  background-size: 200px 200px;
  background-position: -22px 0;
}
.cart-header .menu {
  width: 20px;
  height: 20px;
  background-image: url('../images/jd-sprites.png');
  background-size: 200px 200px;
  background-position: -60px 0;

}
.cart-header p {
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px 2px lime;
}

/* 安全模块 */
.cart-safe {
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-bottom: 1px solid skyblue;
}
.cart-safe p {
  display: inline-block;
  padding-left: 30px;
  position: relative;
}
.cart-safe p::before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  top: 11px;
  background-image: url('../images/safe_icon.png');
  background-size: 18px 18px;
}

/* 商品模块 */
.cart-product .p-header {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
  border-bottom: 1px solid skyblue;
}
.chk{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url('../images/jd-sprites.png');
  background-size: 200px 200px;
  background-position: -180px -89px;
}
.p-header .logo {
  width: 20px;
  height: 20px;
  background-image: url('../images/jd-sprites.png');
  background-size: 200px 200px;
  margin-top: 12px;
  margin-right: 10px;
}
.p-header .free {
  margin-right: 5px;
}

.p-content .item {
  position: relative;
  height: 100px;
  border-bottom: 1px solid skyblue;
}
.p-content .item-in {
 padding-left: 40px;
}
.p-content .item-in .img {
  width: 80px;
  height: 80px;
  float: left;
  margin-top: 10px;
}
.p-content .item-in .info {
  overflow: hidden;
  padding: 5px;
}
.p-content .item-in .info .text {

}
.p-content .item-in .info .option {
  margin-top: 15px;
}
.p-content .item-in .info .option .count {
 width: 80px;
 height: 30px;
 line-height: 30px;
 text-align: center;
 border: 1px solid skyblue;
}
.p-content .item-in .info .option .count span {
  display: block;
  float: left;
  height: 100%;
  width: 31.33%;
  border-right: 1px solid skyblue;
}
.p-content .item-in .info .option .count span:last-child {
  border: none;
}

.p-content .item-in .info .option .del {
  width: 30px;
  height: 30px;
  /* 光标显示成小手 */
  cursor: pointer;  
}
.p-content .item-in .info .option .del span {
  display: block;
}

.p-content .item-in .info .option .del.open .del-up {
  transform: rotate(30deg);  
}

.p-content .item-in .info .option .del .del-up {
  width: 18px;
  height: 4px;
  background: url(../images/delete_up.png);
  background-size: 18px 4px;
  /* 动画过渡 */
  transition: transform 0.3s;
  /* 旋转的原点 */
  transform-origin: right;   
}
.p-content .item-in .info .option .del .del-down {
  width: 18px;
  height: 18px;
  background: url(../images/delete_down.png);
  background-size: 18px 18px;
  margin-top: -2px;
}

/* 模态框样式 */
.win-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.3);
}
.win-box .del-box {
 width: 80%;
 text-align: center;
 margin: 200px auto;
 background-color: #fff;
 border-radius: 5px;
}
.win-box .del-box p {
 font-size: 18px;
 line-height: 70px;
 border-bottom: 1px solid skyblue;
}
.win-box .del-box .btn {
 padding: 10px 20px 10px 20px;
}
.del-box a {
  height: 40px;
  width: 35%;
  line-height: 40px;
  /* border: 1px solid skyblue; */
  color: #000;
  border-radius: 5px;
}
.del-box .cancel {
 background-color: #eee;
}
.del-box .ok {
 background-color: red;
}